.order-book {
  display: flex;
  flex-direction: column;
  border: #e0e0e0 2px solid;
  border-radius: 16px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.asks {
  border-bottom: #e0e0e0 1px solid;
  padding: 10px 0;
}

.bids {
  border-top: #e0e0e0 1px solid;
  padding: 10px 0;
}

.midpoint {
  color: #e0e0e0;
  font-size: 12px;
  padding: 4px 12px;
  text-align: center;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
}

.column-header {
  display: flex;
  justify-content: space-between;
  color: #e0e0e0;
  font-size: 12px;
  padding: 4px 20px;
  border-bottom: #e0e0e0 1px solid;
  background-color: #454c5b;
  font-family: monospace;
}

.title {
  color: #e0e0e0;
  font-size: 14px;
  padding-top: 10px;
  font-family: monospace;
  background-color: #454c5b;
  text-align: center;
}

.positive {
  color: #45893b;
}

.negative {
  color: #bc4229;
}
