.level {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: space-between;
  font-family: monospace;
  padding: 0 20px;
}

.size {
  align-items: left;
}

.bid {
  color: #45893b;
  border-bottom: #454c5b solid 1px;
}

.bid.last {
  border-bottom: none;
}

.ask {
  color: #bc4229;
  border-top: #454c5b solid 1px;
}

.ask.last {
  border-top: none;
}

.price {
  align-items: left;
}
